arcaflow-plugin-sdk @ git+https://github.com/arcalot/arcaflow-plugin-sdk-python.git@allow-scope-in-one-of ; python_version >= "3.9" and python_version < "4.0"
attrs==22.1.0 ; python_version >= "3.9" and python_version < "4.0"
automat==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
cbor2==5.4.3 ; python_version >= "3.9" and python_version < "4.0"
constantly==15.1.0 ; python_version >= "3.9" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
incremental==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==65.5.1 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
twisted-iocpsupport==1.0.2 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
twisted==22.10.0 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.9" and python_version < "4.0"
zope-interface==5.5.1 ; python_version >= "3.9" and python_version < "4.0"
